.user_input input{
    padding: 10px;
}

.login_bg{
    background-image: url('https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1024&h=1280&q=80');
    background-size: cover;
}
.button_wrap:hover{
    border: 2px solid #1473E6 !important;
    transition: 0.3s all ease-out !important;
    -webkit-transition: 0.3s all ease-out !important;
    -moz-transition: 0.3s all ease-out !important;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {  
    .grid_wrap{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:481px)  {
    .grid_wrap{
        display: flex;
        justify-content: center;
    }
}