.user_input input{
    padding: 10px;
}

.login_bg{
    background-image: url('https://wallpaperaccess.com/full/1691700.jpg');
    /* background-image: url'(https://i.pinimg.com/736x/e1/4b/70/e14b7097d76237a8f5aba0dc66d01e1b.jpg'); */
    background-size: cover;
}
.button_wrap:hover{
    border: 2px solid #1473E6 !important;
    transition: 0.3s all ease-out !important;
    -webkit-transition: 0.3s all ease-out !important;
    -moz-transition: 0.3s all ease-out !important;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {  
    .hide_sm{
        display: none;
    }
    .grid_wrap{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:481px)  {
    .grid_wrap{
        display: flex;
        justify-content: center;
    }
    .hide_sm{
        display: block;
    }
}