.card_wrap{
    border-radius: 10px !important;
    box-shadow: 1px 2px 5px 0px rgb(232 232 232 / 91%) !important;
    background: #fff;
    position: relative;
    transition: 0.3s all ease-out;
    outline: 1px solid transparent;
}
.active{
    outline: 2px solid #1a76d2;
    box-shadow: 1px 2px 5px 0px rgb(146 138 138 / 91%) !important;
    transition: 0.3s all ease-out;
}
.readmore{
    color: #1976d2 !important;
    cursor: pointer;
}

.gallery_img,
.user_avatar{
    width: 100%;
    height: 100% !important;
}
.user_avatar{
    object-fit: cover;
    border-radius: 50%;
}